[MASTER]
init-hook='import sys; sys.path.append(".")'
load-plugins=pylint_django
ignore=
    migrations,
    settings.py,
    manage.py,
    test_settings.py,
    *.pyc,
    __pycache__,
    .pytest_cache,
    .venv,
    .env,
    .git,
    .github,
    .gitignore

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-lines

[DESIGN]
# Maximum number of methods in a class
max-args=5

[TYPECHECK]
ignored-modules=djangorestframework

[REPORTS]
output-format=colorized